<configuration>
<appender name="JSON_FILE" class="ch.qos.logback.core.FileAppender">
    <file>logs/app-logs.json</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
</appender>

<springProfile name="dev">
    <include resource="logback-spring-dev.xml" />
</springProfile>
</configuration>